* {
	max-width: 900px;
	/* margin autoを設定するとjustfy-contentが使えない */
	margin-left: auto;
	margin-right: auto;
}
body {
	background-color: #F6F6F6;
}
header {
	border-top: 7px solid #6CC6C4;
	position: absolute;
	top: 0;
	width: 100%;
}
.top {
	float: left;
	padding-top: 40px;
}
.right-header {
	display: flex;
	flex-flow: column;
	float: right;
}
.number {
	font-size: 25px;
}
.right-header p {
	margin: 7px 0;
}
.name, .time {
	font-size: 10px;
}
.time {
	border: solid 1px #000000;
	padding: 5px 15px;
}
.time span {
	color: red; /* 休診日のみ赤色にする */
}
.menu ul {
	width: 100%;
	padding-top: 120px;
	display: flex;
	justify-content: center;
	position: relative;
	left: -40px;
}
.menu li {
	/* 横幅均等 */
	width: 20%;
	list-style: none;
	text-align: center;
	padding: 15px 0;
	border: 1px solid #6CC6C4;
	white-space: nowrap;
	height: 40px;
	background-color: #6CC6C4;
	font-size: 15px;
	opacity: 0.8;
	/* 要素に光沢を付与 */
	background-image: -webkit-linear-gradient(rgba(255,255,255,.3) 0%,transparent 50%,transparent 50%,rgba(0,0,0,.1) 100%);
}
.menu a {
	color: #FFFFFF;
	text-decoration: none;
}
.menu a:hover {
	opacity: 0.9;
	color: #4D82C4;
	border: none;
}
.menu span {
	font-size: 10px;
}
.left-menu {
	display: flex;
	flex-direction: column;
	float: left;
	margin: 0 -17px;
	/* 絶対値で位置指定 */
	position: absolute;
	top: 245px;
}
.menu-content {
	list-style: none;
	background-color: white;
	margin: 0 20px 20px;
}
.menu-content h2 {
	background-color: #6CC6C4;
	color: white;
	display: block;
	font-size: 15px;
	padding: 7px 10px;
	margin-top: -10px;
	opacity: 0.8;
	/* 要素に光沢を付与 */
	background-image: -webkit-linear-gradient(rgba(255,255,255,.3) 0%,transparent 50%,transparent 50%,rgba(0,0,0,.1) 100%);
}
.menu-content ul {
	list-style-type: disc;
	border-style: solid;
	border-width: 1px;
	border-color: #6CC6C4;
	padding-bottom: 20px;
	/* h2と連結する */
	position: relative;
	top: -20px;
	margin-bottom: -20px;
}
.menu-content li {
	list-style: none;
	position: relative;
	padding-left: 0.6em;
}
.menu-content li:before {
	/* リストの点をひし形にする */
	border-radius: 25%;
	width: 7px;
	height: 7px;
	transform: translateY(-50%) rotate(45deg);
	display: block;
	position: absolute;
	left: -20px;
	top: 50%;
	content: "";
	background: #6CC6C4;
}
.menu-content a {
	color: black;
	display: block;
	text-decoration: none;
	border-bottom: solid 1px #6CC6C4;
	padding: 5px 10px;
	margin-left: 10px;
	position: relative;
	left: -20px;
}
.menu-content a:hover {
	color: #6CC6C4;
}
.main-img {
	float: right;
	padding-top: 10px;
}
.new-info {
	background-color: #FFFFFF;
	width: 640px;
	float: right;
	padding-bottom: 30px;
}
.new-info h3 {
	font-size: 15px;
	border-bottom: solid 3px #6CC6C4;
	padding-bottom: 10px;
}
.new-info p {
	font-size: 13px;
}
.content {
	display: flex;
}
.day {
	white-space: nowrap;
	padding-left: 20px;
	padding-right: 40px;
	/* 開始位置調整 */
	margin-inline-start: 10px;
}
.info-content {
	margin-right: 40px;
	margin-inline-start: 10px;
	padding-bottom: 10px;
	border-bottom: 2px solid #F6F6F6;
}
.footer-container {
	padding: 20px 0;
}
.footer-list {
	display: inline-block;
	width: 100%;
	border: 1px solid #6CC6C4;
	background-color: #6CC6C4;
}
.footer-list a {
	font-size: 13px;
	color: #FFFFFF;
	text-decoration: none;
	padding: 0 10px;
}
.footer-list a:before {
	/* ボタンの前に○を表示 */
	content: "○";
	background: #6CC6C4;
	padding-right: 5px;
}
.footer-list a:hover {
	text-decoration: underline;
}
.footer-details {
	list-style: none;
	display: flex;
	justify-content: flex-end;
}
.footer-details li {
	font-size: 13px;
	padding-right: 10px;
}
.copy-right {
	border-top: solid 1px #6CC6C4;
	font-size: 12px;
	white-space: nowrap;
	text-align: center;
	padding-top: 15px;
}